<footer class="footer-wrapper">
  <ul class="footer-links">
    <li><a class="icon-links github" href="https://github.com/Jmnahan" target="_blank">
    <img class="icon-images" src="/images/github-icon.png"></a></li>
    <li><a class="icon-links twitter" href="https://twitter.com/ManhanJ" target="_blank">
    <img class="icon-images" src="/images/twitter-icon.png"></a></li>
    <li><a class="icon-links linkedin" href="https://www.linkedin.com/in/ijhonamnhn/" target="_blank">
    <img class="icon-images" src="/images/linkedin-icon.png"></a></li>
 </ul>
</footer>