---
layout: layouts/base.njk
title: Jhona Manahan 
---
<section class="content-wrapper">
  <div class="header-wrapper">
    <h1 class="header-desc"> <span class="colored-text">Hello,</span> I'm Jhona. I like building websites. </h1>
    <span class="sub">Coming from traditional engineering, I'm now starting my journey as a self-starting aspiring front-end developer.<br><br> I stand for quality and enjoy solving problems. I like working in a team, after all great ideas don't come from lone geniuses. I'm naturally curious and like digging through my stuff.
    </span>
  </div>
  <div class="content-split">
    <div class="side">
    <h2 class="side-content-header split-one">My stuff:</h2>
    </div>
    <div class="main-content-desc split-one"> 
    <ul class="content-list">
      <li>HTML/CSS</li>
      <li>Git</li>
      <li>VSCode</li>
      <li>Tailwindcss</li>
    </ul>
    </div>
  </div>
  <div class="content-split">
    <div class="side">
      <h3 class="side-content-header split-two">Projects:</h3>
    </div>
      <div class="main-content-desc row">
        <div class="main-wrapper wrapper-one">
          <a class="image-wrapper" href="https://uh-oh-404.netlify.app/" target="_blank">
          <img class="project-image split-two" src="images/uh-oh.png" alt="uh-oh, 404 page, cat"></a>
          <h4 class="proj-desc split-two">This is a simple html/css practice where I applied the basics that I've learned so far.</h4>
        </div>
        <div class="main-wrapper wrapper-two">
          <a class="image-wrapper image-wrapper-two" href="https://social-prf-section.netlify.app/" target="_blank">
          <img class="project-image split-two" src="images/social-proof-section.png" alt="social-proof, reviews"></a>
          <h4 class="proj-desc split-two">A Frontend Mentor challenge where I used Tailwind CSS as a CSS framework. This challenge was really fun, mainly due to Tailwindcss being fun and easy to use. </h4>
        </div>
      </div>
  </div>
</section>
 